<div class="container">
    <div class="row">
        <div class="col-md-3 colpadding side_chat" style=""
              wb-affix="150">
            <div class="panel-body messages-scroll" style="padding:0px;margin-bottom:0px;">
                <div class="list-group" style="margin-bottom:0px;">
                    <a style="cursor:pointer;" class="list-group-item list-group-border"
                             ng-repeat="chatuser in chatusers" name="{{chatuser._id}}" addchatdiv>
                        <div class="row">
                            <div class="col-sm-2 colpadding">
                                <img src="{{ chatuser.picture.thumbnail}}" alt="" style="width:40px;border-radius:50%;">
                            </div>
                            <div class="col-sm-10 ">
                                <h5 style="opacity:0.70;margin-top:0px;">
                                    {{ chatuser.name.first }} {{ chatuser.name.last }}
                                    <span class="pull-right">
                                        <small style="opacity:0.50">10/11/2012</small>
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="panel-footer" style="background-color:#fff;">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="right-inner-addon">
                            <i class="fa fa-search" style="opacity:0.70"></i>
                            <input type="search" class="form-control input-sm"
                                   placeholder="Search Online Friends" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='div-1' ng-click="gg=true;loadLatestMessages()">
                            <label class="label label-danger">{{ chatactivity.messageNotifc.length }} </label>
                        </div>
                        <div class='row'>
                            <div class="col-sm-3" style="position:fixed;right:0px;bottom:450px" ng-show="gg">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="list-group" style="margin-bottom:0px" >

                                            <a  class="list-group-item"
                                               style="border-top-left-radius: 0px;border-top-right-radius: 0px;" ng-repeat="message in chatactivity.latestMessages"
                                               name="{{ message.sender._id}}" addchatdiv>


                                                    <img style="width:30px;margin-right:5px" class=""
                                                         src="{{ message.sender.picture.medium }}" alt="">
                                                            {{ message.sender.name.first }}
                                                            {{ message.message }}

                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="previousdiv in previousdivs" class="col-md-3 colpadding chat_divs"
             style="right:{{ previousdiv.right}}px;height:{{ previousdiv.height}}"
             wb-affix="150">
            <div class="well" style="border: 1px solid #C2C0C0;padding:0px;margin-bottom:0px;">
                <div class="panel-heading" style="border-bottom:1px solid #dcdcdc;background-color:#c9dce4">
                    <div class="row">
                        <div class="col-sm-9">
                            <a href="/#/profile/{{ previousdiv.id }}">
                                {{ previousdiv.name }}
                            </a>

                            <label class="label label-danger" ng-if="checknotific(previousdiv.id)">new message</label>
                        </div>
                        <div class="col-sm-3">
                            <span>
                                <a ng-click="close_div('{{ previousdiv.id}}')"
                                   class="pull-right" style="color:#888;cursor:pointer;">
                                    <i class="fa fa-close"></i>
                                </a>
                                <div ng-if="previousdiv.maximize">
                                    <a   ng-click="minimize('{{ previousdiv.id }}')"
                                         class="" style="color:#888;cursor:pointer;">
                                        <i class="fa fa-toggle-down"></i>
                                    </a>
                                </div>
                                <div  ng-if="previousdiv.minimize">
                                    <a  ng-click="maximize('{{ previousdiv.id }}')"
                                        class="" style="color:#888;cursor:pointer;">
                                        <i class="fa fa-toggle-up"></i>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body messages-scroll" style="height:230px;">
                    <div class="row" ng-repeat="message in loadedMessages"
                                 ng-if="message.sender._id == previousdiv.id || message.receiver._id == previousdiv.id">
                        <div class="col-sm-3 colpadding" style="width:45px;">

                        <img class="img-responsive user-photo" style="width:40px"
                             src="{{ message.sender.picture.medium }}">

                        </div><!-- /col-sm-1 -->

                        <div class="col-sm-9 colpadding">
                            <div class="panel panel-default">
                                <div class="panel-body" style="border-bottom:none !important;">
                                <span class="text-muted">
                                    {{ message.message }}
                                </span>
                            </div>
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="send_{{ previousdiv.id }}" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-normal btn-sm" id="btn-chat" ng-click="send_message('{{ previousdiv.id }}')">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
