<div class="container hide-chat-for-mobile" ng-init="height = 414; right = 280">
    <div class="row">
        <div class="col-md-3 colpadding side_chat" style=""
              wb-affix="150">
            <div class="panel" style="margin-bottom:0px;min-height:90vh;border:1px solid #DCDCDC;">
                <div class="panel-heading"
                     style="border-bottom:1px solid #dcdcdc;margin-bottom:9px;">
                    <h5 style="margin:5px 0px;opacity:0.70;">
                        Friends
                    </h5>
                </div>

                <div class="panel-body messages-scroll" style="padding:0px;height:34vh;">
                    <div class="row" style="cursor:pointer;" ng-if="!(chatactivity.chatfriends.length)">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="">
                                <div class="thumbnail" style="border:0px solid;">
                                    <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                You have No friends
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div  class="media" ng-repeat="chatuser in chatactivity.chatfriends"
                                 ng-click="openchatroom('{{ chatuser._id }}')"
                                 style="border-bottom:1px solid #F5F5F5;cursor:pointer;" >
                              <div class="media-left">
                                <a class="pull-left" style="padding: 0px 7px;">
                                  <img class="media-object" style="width:40px;border-radius:50%;"
                                       src="{{ chatuser.picture.thumbnail}}" alt="{{ chatuser.picture.thumbnail}}">
                                </a>
                              </div>
                              <div class="media-body">
                                <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                    {{ chatuser.name.first }} {{ chatuser.name.last }}
                                    <span class="pull-right" style="opacity:0.40;font-size:9px;padding-top:3px;">
                                       11/11/11
                                    </span>
                                </h5>
                                <h6 style="font-family: 'Open sans',Arial,sans-serif;opacity:0.50;">
                                    Wonder what weber can do
                                </h6>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading"
                     style="border-bottom:1px solid #dcdcdc;margin-bottom:9px;">
                    <h5 style="margin:5px;">
                        Conversations
                    </h5>
                </div>
                <div class="panel-body messages-scroll" style="padding:0px;height:33vh;">
                    <div class="row" style="cursor:pointer;" ng-if="!(chatactivity.conversations.length)">
                      <div class="col-sm-4 col-sm-offset-4">
                            <div class="">
                                <div class="thumbnail" style="border:0px solid;">
                                    <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-12">
                            <h5 class="text-center">
                                You have No Conversations
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="media" ng-repeat="conversation in chatactivity.conversations"
                                 ng-click="openchatroom('{{ conversation._id }}')"

                                 style="border-bottom:1px solid #F5F5F5;cursor:pointer;" >
                              <div class="media-left">
                                <a class="pull-left" style="padding: 0px 7px;">
                                  <img class="media-object" style="width:40px;border-radius:50%;"
                                       src="{{ conversation.picture.thumbnail}}" alt="{{ conversation.picture.thumbnail}}">
                                </a>
                              </div>
                              <div class="media-body">
                                <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;" >
                                    {{ conversation.name.first }} {{ conversation.name.last }}
                                    <span class="pull-right" style="opacity:0.40;font-size:9px;padding-top:3px;">
                                       11/11/11
                                    </span>
                                </h5>
                                <h6 style="font-family: 'Open sans',Arial,sans-serif;opacity:0.50;">
                                    Wonder what weber can do
                                </h6>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="panel-footer" style="background-color:#fff;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="right-inner-addon">
                                <i class="fa fa-search" style="opacity:0.70"></i>
                                <input type="search" class="form-control input-sm"
                                       placeholder="Search Online Friends" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="chatroom in  chatactivity.messages" class="col-md-3 colpadding chat_divs"

             style="right:{{ right * ($index+1) }}px;height:{{ chatroom.details.height}}" chatdivdir
             wb-affix="150">

            <div class="panel panel-primary" style="margin-bottom:0px;">

					<div class="panel-heading" ng-click="chatroomdiv('{{ chatroom.id }}')" style="cursor:pointer">
						<div class="row">
                            <div class="col-sm-9">
                                <a href="/#/profile/{{ chatroom.id }}" style="color:#fff;" >
                                     {{ chatroom.details.name }}
                                </a>

                                <label class="label label-danger" ng-if="checknotific(chatroom.id)">new message</label>
                            </div>
                            <div class="col-sm-3">
                                <span>
                                    <a ng-click="close_div('{{ chatroom.id}}')"
                                       class="pull-right" style="color:#888;cursor:pointer;">
                                        <i class="fa fa-close" style="color:#fff;"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
					</div>
					<div class="panel-collapse" id="collapseOne">
						<div class="panel-body"   style="height:270px;overflow:auto;background-color:#f2f2f2;"  id="{{ chatroom.id }}" scroll>
							<ul class="chat"  >


                                <div ng-repeat="message in chatroom.messages | reverse">

                                    <li
                                        ng-if="message.sender._id == chatroom.id" scrollitem
                                        class=" left clearfix"  >
                                        <!--<span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                        </span>-->
                                        <div class="bubble me clearfix">
                                            <!--<div class="header">
                                                <strong class="primary-font">{{ message.sender.name.first }}</strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                    <span am-time-ago="message._created"></span></small>
                                                </small>
                                            </div>-->
                                            <p style="margin:0 0 0px;">
                                                  {{ message.message }}
                                            </p>
                                        </div>
                                    </li>
                                    <li ng-if="message.receiver._id == chatroom.id"  class=" right clearfix" scrollitem
                                        >
                                        <!--<span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                        </span>-->
                                        <div class="bubble1 you clearfix">
                                            <!--<div class="header">
                                                <small class=" text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                    <span am-time-ago="message._created"></span></small>
                                                </small>
                                                <strong class="pull-right primary-font">{{ message.sender.name.first }}</strong>
                                            </div>-->
                                            <p style="margin:0 0 0px;">
                                                {{ message.message }}
                                            </p>
                                        </div>
                                    </li>
                                </div>


							</ul>

						</div>
						<div class="panel-footer" style="padding:10px 15px;">
							<div class="row">
                                <div class="col-sm-12">
                                    <input  type="text" class="form-control input-sm" ng-model="SendMessage"
                                           id="send_{{ chatroom.id}}"
                                           ng-keyup="$event.keyCode == 13 && send_message(SendMessage, chatroom.id)"
                                           placeholder="Type your message here..." autofocus />

                                </div>
                            </div>
						</div>
					</div>
				</div>

        </div>



    </div>

</div>
