<div class="container">
    <div class="row">
        <div class="col-md-3 colpadding side_chat" style=""
              wb-affix="150">
            <div class="panel-body messages-scroll" style="padding:0px;margin-bottom:0px;">
                <div class="list-group" style="margin-bottom:0px;">
                    <a style="cursor:pointer;" class="list-group-item list-group-border"
                             ng-repeat="chatuser in chatusers" name="{{chatuser._id}}" addchatdiv>
                        <div class="row">
                            <div class="col-sm-2 colpadding">
                                <img src="{{ chatuser.picture.thumbnail}}" alt="" style="width:40px;border-radius:50%;">
                            </div>
                            <div class="col-sm-10 ">
                                <h5 style="opacity:0.70;margin-top:0px;">
                                    {{ chatuser.name.first }} {{ chatuser.name.last }}
                                    <span class="pull-right">
                                        <small style="opacity:0.50">10/11/2012</small>
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="panel-footer" style="background-color:#fff;">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="right-inner-addon">
                            <i class="fa fa-search" style="opacity:0.70"></i>
                            <input type="search" class="form-control input-sm"
                                   placeholder="Search Online Friends" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class='div-1' ng-click="gg=true;loadLatestMessages()">
                            <label class="label label-danger">{{ chatactivity.messageNotifc.length }} </label>
                        </div>
                        <div class='row'>
                            <div class="col-sm-3" style="position:fixed;right:0px;bottom:450px" ng-show="gg">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="list-group" style="margin-bottom:0px" >

                                            <a  class="list-group-item"
                                               style="border-top-left-radius: 0px;border-top-right-radius: 0px;" ng-repeat="message in chatactivity.latestMessages"
                                               name="{{ message.sender._id}}" addchatdiv>


                                                    <img style="width:30px;margin-right:5px" class=""
                                                         src="{{ message.sender.picture.medium }}" alt="">
                                                            {{ message.sender.name.first }}
                                                            {{ message.message }}

                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="previousdiv in previousdivs" class="col-md-3 colpadding chat_divs"
             style="right:{{ previousdiv.right}}px;height:{{ previousdiv.height}}"
             wb-affix="150">


            <div class="panel panel-primary" style="margin-bottom:0px;">
					<div class="panel-heading">
						<div class="row">
                            <div class="col-sm-9">
                                <a href="/#/profile/{{ previousdiv.id }}" style="color:#fff;">
                                    {{ previousdiv.name }}
                                </a>

                                <label class="label label-danger" ng-if="checknotific(previousdiv.id)">new message</label>
                            </div>
                            <div class="col-sm-3">
                                <span>
                                    <a ng-click="close_div('{{ previousdiv.id}}')"
                                       class="pull-right" style="color:#888;cursor:pointer;">
                                        <i class="fa fa-close" style="color:#fff;"></i>
                                    </a>
                                    <div ng-if="previousdiv.maximize">
                                        <a   ng-click="minimize('{{ previousdiv.id }}')"
                                             class="" style="color:#888;cursor:pointer;">
                                            <i class="fa fa-toggle-down" style="color:#fff;"></i>
                                        </a>
                                    </div>
                                    <div  ng-if="previousdiv.minimize">
                                        <a  ng-click="maximize('{{ previousdiv.id }}')"
                                            class="" style="color:#888;cursor:pointer;">
                                            <i class="fa fa-toggle-up" style="color:#fff;"></i>
                                        </a>
                                    </div>
                                </span>
                            </div>
                        </div>
					</div>
					<div class="panel-collapse" id="collapseOne">
						<div class="panel-body messages-scroll" style="height:320px;">
							<ul class="chat">
								<li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font">Jack Sparrow</strong>  <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
											<strong class="pull-right primary-font">Bhaumik Patel</strong>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font">Jack Sparrow</strong>  <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
											<strong class="pull-right primary-font">Bhaumik Patel</strong>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-footer" style="padding:10px 15px;">
							<div class="row">
                                <div class="col-sm-12">
                                    <input id="btn-input" type="text" class="form-control input-sm"
                                           placeholder="Type your message here..." />
                                </div>
                            </div>
						</div>
					</div>
				</div>

        </div>



    </div>
</div>
