<div class="container">
    <div class="col-md-3" wb-affix="150">
		<div class="thumbnail">
            <div class="itemsContainer">
                <div class="image">
                    <a href="">
                        <img class="img-rounded" style="width:;" src="{{user.picture.large}}" />
                    </a>
                </div>
            </div>
			<div class="caption text-center">
				<h3 style="text-transform: capitalize;">{{user.name.first}} {{user.name.last}}</h3>
				@{{user.username}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 style="margin:1px 0px 1px 0px">
					About
					<a href="" class="pull-right">
						<h6 style="margin-top:0px">
							See all
						</h6>
					</a>
				</h5>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80" class="about-edit">
							<i class="glyphicon glyphicon-check" style="opacity:0.65"></i>&nbsp;
							Iam interested in:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" ng-repeat="interest in user.interests" style="line-height:1.2em;color:">

									{{ interest }},&nbsp;

							</a>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80">
							<i class="glyphicon glyphicon-folder-open" style="opacity:0.65"></i>&nbsp;
							Studied at:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" style="line-height:1.2em;color:">

									{{ user.study.graduate }}

							</a>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80">
							<i class="glyphicon glyphicon-home" style="opacity:0.65"></i>&nbsp;
							Lives in:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" style="line-height:1.2em;color:">
								{{ user.location.state }},
							</a>
                            <a href="" style="line-height:1.2em;color:">
                                 {{ user.location.city }},
                            </a>
                             <a href="" style="line-height:1.2em;color:">
                                  {{ user.location.street }}
                            </a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading">Friends({{user.friends.length}})</div>
                <a ng-repeat="friend in friends | limitTo : 8" href="#/profile/{{friend._id}}">
                    <img data-placement="top-right" style="width:60px"
                         data-content="{{friend.location.city}}, {{friend.location.state}}"
                         title="{{friend.name.first}} {{friend.name.last}}" data-trigger="hover" bs-popover src="{{friend.picture.thumbnail}}">
                </a>
		</div>
	</div>
    <div class="col-md-6 colpadding" style="min-height:auto">
        <div class="row">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <div class="row">
                       <div class="col-sm-6">
                           <h5 style="opacity:0.70">
                               Friends -&nbsp;
                                   <label class="">
                                       <a href="" style="">
                                           {{user.friends.length}}
                                       </a>
                                   </label>
                               </span>
                           </h5>
                       </div>
                       <div class="col-sm-5 pull-right">
                           <div class="right-inner-addon">
                                <i class="fa fa-search" style="opacity:0.70"></i>
                                <input type="search" class="form-control input-sm"
                                       placeholder="Search Friends" ng-model="searchFriend"/>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="panel-body">
                   <div ng-repeat=" friend in data = (friends |  filter : searchFriend )" class="row pad-top" >
                        <div class="jumbotron"
                             style="padding:5px 10px;background-color:#fff;margin-bottom:10px;">
                            <div class="row" style="">
                                <div class="col-sm-1">
                                    <img src="{{ friend.picture.thumbnail }}"
                                         style="width:60px;border-radius:4px">
                                </div>
                                <div class="col-sm-6" style="padding-left:30px;">
                                    <h5>
                                        <a href="#/profile/{{ friend._id }}">
                                            {{ friend.name.first }} {{ friend.name.last }}
                                        </a>
                                    </h5>
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <!--<a matchmeunfriend  style="margin-top:15px"
                                       class="btn btn-default btn-sm pull-right" ng-click="matchmeunfriend('{{ friend._id }}')">
                                        Unfriend
                                    </a>-->
                                    <unaddfriend>
                        	            <button ng-click="friendunfriend('{{ friend._id }}')" class="btn-sm btn btn-default">unfriend</button>
						            </unaddfriend>
                                </div>
                            </div>
                        </div>

                   </div>
                   <div ng-if="data.length == 0">no data found</div>
               </div>
           </div>
        </div>
    </div>
</div>
