
<div class="container">
	<div class="col-md-3 colpadding" wb-affix="150">
		<div class="thumbnail">
            <div class="itemsContainer">
                <div class="image">
                    <a href="">
                        <img class="img-rounded" style="width:;" src="{{user.picture.large}}" />
                    </a>
                </div>
            </div>
			<div class="caption text-center">
				<h3 style="text-transform: capitalize;">
                    <a href="" style="text-decoration:none;">
                        {{user.name.first}} {{user.name.last}}
                    </a>
                </h3>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#fff;">
				<h5 style="">
					<strong>About</strong>
				</h5>
			</div>
			<div class="panel-body">
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;" class="about-edit">
							<i class="fa fa-dashboard" style="opacity:0.65;font-size:12px;"></i>&nbsp;
							I am interested in:
                            <a ng-repeat="interest in user.interests"
                               style="line-height:1.2em;color:;text-decoration:none;">
								{{ interest }}&nbsp;
							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-graduation-cap" style="opacity:0.65;font-size:12px;"></i>
							Studied at:
                            <a style="line-height:1.2em;color:;text-decoration:none;">

									{{ user.study.graduate }}

							</a>
						</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:7px;">
					<div class="col-sm-12">
						<h6 style="margin-bottom:5px;margin-top:0px;line-height:1.6em;">
							<i class="fa fa-home" style="opacity:0.65;font-size:13px;"></i>&nbsp;
							Lives in:
                            <a style="line-height:1.2em;color:;text-decoration:none;">
								{{ user.location.state }}, {{ user.location.city }}
                            </a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading" style="background-color:#fff;">
                <h5>
                    <strong>
                        Friends - <span style="opacity:0.70;">{{user.friends.length}}</span>
                    </strong>
                </h5>
			</div>

            <div class="panel-body" style="padding:1px;">
                <a ng-repeat="friend in friends | limitTo : 6" href="#/profile/{{friend._id}}">
                    <img data-placement="top-right" style="width:87px"
                         data-content="{{friend.location.city}}, {{friend.location.state}}"
                         title="{{friend.name.first}} {{friend.name.last}}" data-trigger="hover" bs-popover src="{{friend.picture.thumbnail}}">
                </a>
            </div>
		</div>
	</div>
	<div class="col-md-6 colpadding" style="min-height:2000px">
		<form role="form" class="post-to-timeline panel panel-default panel-body clearfix">
			<textarea ng-model="new_post" class="form-control"
                      style="height: 70px;margin-bottom: 10px;resize: none;" placeholder="Whats happening?" required></textarea>
			<div class="row">
				<div class="col-sm-6">
                    <span class="btn btn-sm btn-default btn-file">
                        <i class="glyphicon glyphicon-camera"></i>
                        <input type="file" id="fileInput" />
                    </span>
					<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-facetime-video"></i></a>
					<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-map-marker"></i></a>
				</div>
				<div class="col-sm-2 pull-right">
                    <button ng-click="submit_post()" type="submit" class="btn btn-success btn-block btn-sm">
                        Post
                    </button>
				</div>
			</div>
		</form>
		<div ng-if="!(infinitePosts.posts.length)" class="well clearfix" style="background-color:#fff;">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">
						No Posts to Show
					</h2>
                    <h3>
                        Add Post to share your information to Friends
                    </h3>
				</div>
			</div>
		</div>
		<div id='userposts' infinite-scroll='infinitePosts.nextPage()' infinite-scroll-disabled='infinitePosts.busy'
             infinite-scroll-distance='0' infinite-scroll-container="'#userposts'">

			<div class="media panel panel-default" ng-repeat="post in infinitePosts.posts">
				<div class="panel-heading post-div" style="background-color:#fff;border-bottom:1px solid #F2F2F2;">
					<a class="pull-left" style="padding: 5px;" href="#/profile/{{UserService.get(post.author)._id}}">
						<img style="width:35px" class="media-object img-circle" src="{{UserService.get(post.author).picture.thumbnail}}" alt="">
					</a>
					<strong>
						<a href="#/profile/{{UserService.get(post.author)._id}}" style="color:#133444">
							{{UserService.get(post.author).name.first}} {{UserService.get(post.author).name.last}}
						</a>
					</strong>&nbsp;wrote on his story.
                    <confirmdelete>
                        <a class="pull-right delete-div" ng-if="user._id == UserService.get(post.author)._id" ng-click="deletediv(post._id)"
                           style="cursor:pointer;font-size:12px">
                            Delete
                        </a>
                    </confirmdelete>
					<br>
					<small class="text-muted">
                        <span class="glyphicon glyphicon-time" style="color:#2F5168"></span>
						<span am-time-ago="post._created"></span></small>
					<br>
				</div>
				<div class="panel-body" style="margin-bottom:0px;padding-bottom:0px;">
                    <div ng-if="post.post_image_path" class="row">
						<div class="col-sm-12" style="padding:0px;">
							<div class="thumbnail" style="border:0px solid;">
								<img src="{{ post.post_image_path }}">
							</div>
						</div>
					</div>
                    <div class="row" style="padding-bottom:5px;">
                        <div class="col-sm-12">
                            <p>
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>
                                <a ng-click="MatchAgree('{{ post._id }}','{{ post.author }}')" style="cursor:pointer;">
                                    Match
                                </a>&nbsp;

                                <a ng-click="MatchDisAgree('{{ post._id }}','{{ post.author }}')" style="cursor:pointer;">
                                    UnMatch
                                </a>&nbsp;

                                <a href="">
                                    Comments
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"
                     style="padding-top:5px;background-color:#fff;border:1px solid #FCF8F8;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>
                                <a style="text-decoration:none;cursor:pointer;" alt="Match this post">
                                    <i class="fa fa-slideshare" style="font-size:14px;"></i>&nbsp;
                                </a>
                                <a href="">
                                    Surya Muppalla
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
			</div>
			<div ng-show='infinitePosts.busy'>Loading data...</div>
			<div ng-show='infinitePosts.end'>You Reached the end!</div>
		</div>
	</div>
</div>

<style>
    .post-div .delete-div{
        display:none;
    }
    .post-div:hover .delete-div{
        display:block;
    }

</style>

