<div   class="navbar navbar-inverse navbar-fixed-top"
      role="navigation" bs-navbar getdata>
        <div class="container" style="width:;">
            <div class="navbar-header">
                <a class="navbar-brand" ng-if="isAuthenticated()" href="/#/home"
                     style="padding:5px;font-size:20px;font-family: 'Open sans',Arial,sans-serif;">

                  <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:400;margin-top:5px;">
                      <i class="glyphicon glyphicon-signal" style="font-size:17px;"></i>&nbsp;
                      <span style="margin-left: 0px;color:#fff;">Weber</span>
                  </h3>
                </a>
                <a class="navbar-brand" ng-if="!isAuthenticated()" href="/#/search"
                     style="padding:5px;font-size:20px;font-family: 'Open sans',Arial,sans-serif;">

                  <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:400;margin-top:5px;">
                      <i class="glyphicon glyphicon-signal" style="font-size:17px;"></i>&nbsp;
                      <span style="margin-left: 0px;color:#fff;">Weber</span>
                  </h3>
                </a>
            </div>
            <div class="navbar-collapse collapse">

                <div class="col-sm-5" ng-controller="InstantsearchCtrl" ng-if="isAuthenticated()">
                    <form role="form" style="margin-top: 8px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group input-group-md">
                                    <input type="text" id="searchText" ng-click="menuMenu($event)" class="form-control" ng-model="InstanceSearchQuery"
                                           placeholder="Search Friends"
                                           ng-change="InstanceSearchPeoples()" />
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn">Search</button>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                                <div class="messages-scroll" ng-show="menuOpened" style="width:445px;position:absolute;padding:0px;overflow:auto;">

                                    <div  id="scroll123" class="list-group" style="">
                                         <!--infinite-scroll='instancesearch.nextPage()'
                                            infinite-scroll-disabled='instancesearch.busy'
                                            infinite-scroll-distance='0'
                                            infinite-scroll-container="'#scroll123'"-->

                                        <div class="" style="margin-bottom:0px;"
                                                ng-repeat="temp in instancesearch.InstancesearchResult"
                                                  >
                                            <a style="" href="#/profile/{{ temp._id.$oid }}"
                                               class="list-group-item search_a">
                                                <div class="row">
                                                    <div class="col-sm-2" style="padding-right:0px;">
                                                        <img src="{{ temp.picture.thumbnail }}" class=""
                                                             style="width:55px;border-radius:50%;">
                                                    </div>
                                                    <div class="col-sm-8 colpadding">
                                                        <h5 style="opacity:0.75;margin-left:-10px;">
                                                            {{ temp.name.first }} {{ temp.name.last }}
                                                        </h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>


                                    </div>
                                </div>
                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                    </form>
                </div>
                <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
                    <li data-match-route="/login"><a href="#/login">Login</a>
                    </li>
                    <li data-match-route="/signup"><a href="#/signup">Sign up</a>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()" >

                    <li><a href="#/search">Match Me</a></li>
                    <li><a href="#/friends">Friends</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown">Msgs <strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding:0px;width:350px;">
                            <form style="padding:0px;">
                                <div class="panel-body" style="padding:0px;height:300px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 style="padding:7px 10px;border-bottom:1px solid #dcdcdc;">Messages</h5>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="!(chatactivity.latestMessages.length)">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <div class="">
                                                <div class="thumbnail" style="border:0px solid;">
                                                    <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                                                </div>
                                            </div>
                                            <h5>0 Unread Msgs</h5>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:0px;"
                                           ng-repeat="message in chatactivity.latestMessages  | limitTo : 5 ">

                                        <div class="col-sm-12">
                                            <div class="media" ng-click="openchatroom('{{ message.sender._id }}')"
                                                 style="cursor:pointer;padding:10px;border-bottom:1px solid #F5F5F5;" >
                                              <div class="media-left">
                                                <a class="pull-left" style="padding: 0px 7px;">
                                                  <img class="media-object" style="width:40px;border-radius:50%;"
                                                       src="{{ message.sender.picture.large }}"
                                                       alt="{{ message.sender.name.first }} {{ message.sender.name.last }}">
                                                </a>
                                              </div>
                                              <div class="media-body">
                                                <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;" >
                                                    {{ message.sender.name.first }} {{ message.sender.name.last }}
                                                    <span class="pull-right" style="opacity:0.40;font-size:9px;padding-top:3px;">
                                                       11/11/11
                                                    </span>
                                                </h5>
                                                <h6 style="font-family: 'Open sans',Arial,sans-serif;opacity:0.50;">
                                                    {{ message.message }}
                                                </h6>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" style="padding: 2px 15px;">
                                    <a href="" class="">
                                        <h6 class="text-center">Read more</h6>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown">Not's <strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding:0px;width:350px;">
                            <form style="padding:0px;">
                                <div class="panel-body" style="padding-top:2px;height:300px;">
                                    <div class="row"
                                         style="border-bottom:1px solid #E7E5E5;">
                                        <div class="col-sm-12">
                                            <h5>
                                                <strong>
                                                    Friends Requests
                                                </strong>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="!(rpeoples.length)">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <div class="">
                                                <div class="thumbnail" style="border:0px solid;">
                                                    <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-12">
                                            <h5 class="text-center">
                                                No new requests found
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:7px" ng-repeat="requestedPeople in rpeoples">
                                        <div class="col-sm-2">
                                            <img src="{{ requestedPeople.picture.thumbnail }}"
                                                 style="width:50px">
                                        </div>
                                        <div class="col-sm-5">
                                            <a href="#/profile/{{ requestedPeople._id }}">
                                                <h5>
                                                    {{ requestedPeople.name.first }}
                                                </h5>
                                            </a>
                                            <!--<h6>
                                                Friends with
                                                <strong>
                                                    <a href="" style="color:#444">
                                                        Vegeshna Satyanarayana
                                                    </a>
                                                </strong>
                                            </h6>-->
                                        </div>
                                        <div class="col-sm-5">
                                            <acceptreject>
                                                <button ng-click="acceptrequest('{{requestedPeople._id}}','navbarview')"
                                                        class="btn btn-sm btn-primary">accept</button>
                                                <button ng-click="rejectrequest('{{requestedPeople._id}}','navbarview')"
                                                        class="btn btn-primary btn-sm pull-right">reject</button>
                                            </acceptreject>
                                        </div>
                                    </div>


                                    <div class="row"
                                         style="border-bottom:1px solid #E7E5E5;margin-top:10px">
                                        <div class="col-sm-12">
                                            <h5>
                                                <strong>
                                                    Notifications
                                                </strong>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="!apeoples.length">
                                        <div class="col-sm-12">
                                            <h5>No new notifications found</h5>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:7px;border-bottom:1px solid #f2f2f2;padding-bottom:5px;"
                                         ng-repeat="accepted_people in apeoples">
                                        <div class="col-sm-2">
                                            <img src="{{ accepted_people.picture.thumbnail }}"
                                                 style="width:50px">
                                        </div>
                                        <div class="col-sm-10">
                                            <h5>
                                                <a href="">
                                                    {{ accepted_people.name.first }}
                                                </a>
                                                Accepted your friend request
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <a href="" bs-dropdown="dropdown" style="padding-top: 11px; padding-bottom: 11px;" getuserdata>
                            <img style="width:28px; border: 2px solid; margin-right: 5px;" class="img-circle" src="{{currentUser.picture.thumbnail}}" alt="">{{currentUser.username}} <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>