
<div class="container" style="min-height:2000px">
    <div class="col-sm-6">
        <div class="row" style="padding-top:;">
            <h2 style="color:#000;font-family: 'Open sans',Arial,sans-serif;font-weight:300;">
                Wonder what weber can do
            </h2>
            <h2 style="color:#000;font-family: 'Open sans',Arial,sans-serif;font-weight:300;">
                Search for people you are interested in..
            </h2>
        </div>

        <div class="row" style="padding-top:30px;">
            <div class="col-sm-12" style="padding-left:0px;">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-control1" ng-model="query" focus="true"
                           placeholder="Search anything in weber" ng-keyup="$event.keyCode == 13 && perfomSearch()"/>
                    <i class="glyphicon glyphicon-search form-control-feedback"
                       style=""></i>
                </div>
            </div>
        </div>
        <div class="row"  ng-show="showNoResults">
            <div class="col-sm-12" style="padding:0px;">
                <div class="panel panel-body" style="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail" style="border:0px solid #dcdcdc;">
                                <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 style="padding-top:20px;">No results found</h4>
                            <h4>Try Banana</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:50px;"
                                     infinite-scroll='matchResults.nextPage();matchResults.nextPageSearchResults()'
                                     infinite-scroll-disabled='matchResults.busy'
                                     infinite-scroll-distance='0'
                                     infinite-scroll-parent="true">

            <div class="panel panel-body" style="border:1px solid #dcdcdc;" ng-repeat="rs in matchResults.mresults" >
                <div class="media">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 7px;">
                      <img data-placement="top-right" style="width:50px;border-radius:4px;"
                     data-content="{{rs.author.location.city}}, {{rs.author.location.state}}"
                     title="{{rs.author.name.first}} {{rs.author.name.last}}" data-trigger="hover" bs-popover src="{{rs.author.picture.medium}}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>{{rs.author.name.first}} {{ rs.author.name.last }}</strong>
                        <span class="pull-right">
                            <!-- if post from you -->
                            <a style="font-size:14px;text-decoration:none;" name="{{rs.author._id}}"
                               ng-if="isAuthenticated() && user._id == rs.author._id" >
                                You posted on  ' {{ rs._created }} '
                            </a>
                            <!-- if post not from you and you logged in-->
                            <a matchpersonroom style="font-size:14px;cursor:pointer;" name="{{rs.author._id}}"
                               ng-if="isAuthenticated() && user._id != rs.author._id"
                               ng-click="openchatroom('{{ rs.author._id }}');addToConversations('{{ rs.author._id}}')">
                               chat
                            </a>

                        </span>
                    </h5>
                    <p class="display-text" ng-class="myVar"
                       style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;margin-bottom:0px;">
                        {{ rs.content }}
                    </p>
                    <seefulltextdirective>
                        <p class="" ng-click="myVar='my-class';hide_text()">
                              <a style="font-size:12px;cursor:pointer;color:#666;">
                                  See full text
                              </a>
                        </p>
                    </seefulltextdirective>
                  </div>
                </div>
            </div>
            <div ng-show='matchResults.busy'>Loading data...</div>
            <div ng-show='matchResults.end'>You Reached the end!</div>
        </div>
    </div>

    <div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div style="background-color:#fff;" class="panel-heading">
                <h5>
                    <strong>
                        Suggested Friends
                    </strong>
                </h5>
            </div>
            <div class="panel-body">
                <div class="media" style="border-bottom:1px solid #ECECEC;">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 8px 0px 0px;">
                      <img data-placement="top-right" style="width:50px;border-radius:4px;"
                     data-content=""
                     title="" data-trigger="hover" bs-popover src="http://api.randomuser.me/portraits/thumb/men/56.jpg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Surya Muppalla</strong>
                    </h5>
                      <h5>
                          <button class="btn btn-sm btn-default"
                                  style="background-color:#FAFAFA;padding:3px 12px;border-radius:0px;border-color:#F2F2F2;">
                              <i class="fa fa-plus"></i>&nbsp;
                              Add Friend
                          </button>
                      </h5>
                  </div>
                </div>

                <div class="media" style="border-bottom:1px solid #ECECEC;">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 8px 0px 0px;">
                      <img data-placement="top-right" style="width:50px;border-radius:4px;"
                     data-content=""
                     title="" data-trigger="hover" bs-popover src="http://api.randomuser.me/portraits/thumb/women/76.jpg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Surya Muppalla</strong>
                    </h5>
                      <h5>
                          <button class="btn btn-sm btn-default"
                                  style="background-color:#FAFAFA;padding:3px 12px;border-radius:0px;border-color:#F2F2F2;">
                              <i class="fa fa-plus"></i>&nbsp;
                              Add Friend
                          </button>
                      </h5>
                  </div>
                </div>


                <div class="media" style="border-bottom:1px solid #ECECEC;">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 8px 0px 0px;">
                      <img data-placement="top-right" style="width:50px;border-radius:4px;"
                     data-content=""
                     title="" data-trigger="hover" bs-popover src="http://api.randomuser.me/portraits/thumb/men/46.jpg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Surya Muppalla</strong>
                    </h5>
                      <h5>
                          <button class="btn btn-sm btn-default"
                                  style="background-color:#FAFAFA;padding:3px 12px;border-radius:0px;border-color:#F2F2F2;">
                              <i class="fa fa-plus"></i>&nbsp;
                              Add Friend
                          </button>
                      </h5>
                  </div>
                </div>

                <div class="media" style="border-bottom:1px solid #ECECEC;">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 8px 0px 0px;">
                      <img data-placement="top-right" style="width:50px;border-radius:4px;"
                     data-content=""
                     title="" data-trigger="hover" bs-popover src="http://api.randomuser.me/portraits/thumb/women/36.jpg">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Surya Muppalla</strong>
                    </h5>
                      <h5>
                          <button class="btn btn-sm btn-default"
                                  style="background-color:#FAFAFA;padding:3px 12px;border-radius:0px;border-color:#F2F2F2;">
                              <i class="fa fa-plus"></i>&nbsp;
                              Add Friend
                          </button>
                      </h5>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>