<div navbar></div>
<div class="container" style="">
    <div class="row">
        <div class="col-md-3 colpadding">
            <div class="panel panel-default"  ng-if="isAuthenticated()">
                <div class="panel-heading">
                    <span class="fa fa-search" style="opacity:0.60;font-size:16px"></span>&nbsp;
                    <strong>Surya</strong>
                    Previous Searches
                    <a href="" class="pull-right">
                        <span class="label label-primary">
                            {{ searchActivity.searchResult.length }}
                        </span>
                    </a>
                </div>
                <div class="panel-body" style="padding:0px;margin-bottom:0px" >
                    <div class="list-group" style="margin-bottom:0px">

                        <a  class="list-group-item" ng-repeat="sresult in searchActivity.searchResult"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;" href="/#/matchme/{{ sresult.content}}">

                            <div id="{{ sresult._id}}" my-directive>
                                <div class="row">
                                    <div class="col-sm-10" ng-model="checked">

                                        <div style="overflow:hidden;text-overflow:ellipsis;">
                                        {{ sresult.content }}

                                        </div>
                                    </div>
                                    <div class="col-sm-2" ng-if="sresult.newResults != 0" >
                                        <span class="label label-danger" id="notific{{ sresult._id}}">{{ sresult.newResults }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row" style="padding-top:0px;">
                <form class="col-sm-12" style="padding:0px;" role="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control form-control-cg"
                               placeholder="Search anything in weber" />
                        <i class="glyphicon glyphicon-search form-control-feedback"
                           style=""></i>
                    </div>
                </form>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="panel panel-body" style="border:1px solid #dcdcdc;">
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                          <img class="media-object" style="width:50px;border-radius: 3px;"
                               src="http://api.randomuser.me/portraits/med/women/59.jpg" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                            Vegesina Satyanarayana
                            <span class="pull-right">
                                <a href="" style="font-size:14px;">
                                    Chat
                                </a>
                            </span>
                        </h4>
                        <p style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;">
                            Wonder what weber can do Search for people you are interested in
                        </p>
                      </div>
                    </div>
                </div>
                <div class="panel panel-body" style="border:1px solid #dcdcdc;">
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                          <img class="media-object" style="width:50px;border-radius: 3px;"
                               src="http://api.randomuser.me/portraits/med/men/59.jpg" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                            Surya Muppalla
                            <span class="pull-right">
                                <a href="" style="font-size:14px;">
                                    Chat
                                </a>
                            </span>
                        </h4>
                        <p style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;">
                            Wonder what weber can do Search for people you are interested in
                        </p>
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div   chatbar></div>


<style>
    .add-on .input-group-btn > .btn {
      border-left-color:#fff;left:-2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    /* stop the glowing blue shadow */
    .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none;
     border-color:#cccccc;
    }
    .form-control-cg{
        border-top:5px solid #ee9a4d;
        height:50px;
    }
    .form-control-feedback {
        position: absolute;
        top: 7px;
        right: 0;
        z-index: 2;
        display: block;
        width: 40px;
        height: 37px;
        line-height: 34px;
        text-align: center;
        font-size: 20px;
        opacity:0.70;
    }
</style>