<div navbar></div>
<div class="container" style="">
    <div class="row">
        <div class="col-md-3 colpadding">
            <div class="panel panel-default"  ng-if="isAuthenticated()">
                <div class="panel-heading">
                    <span class="fa fa-search" style="opacity:0.60;font-size:16px"></span>&nbsp;
                    <strong>Surya</strong>
                    Previous Searches
                    <a href="" class="pull-right">
                        <span class="label label-primary">
                            {{ searchActivity.searchResult.length }}
                        </span>
                    </a>
                </div>
                <div class="panel-body" style="padding:0px;margin-bottom:0px" >
                    <div class="list-group" style="margin-bottom:0px">

                        <a  class="list-group-item" ng-repeat="sresult in searchActivity.searchResult"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;" href="/#/matchme/{{ sresult.content}}">

                            <div id="{{ sresult._id}}" my-directive>
                                <div class="row">
                                    <div class="col-sm-10" ng-model="checked">

                                        <div style="overflow:hidden;text-overflow:ellipsis;">
                                        {{ sresult.content }}

                                        </div>
                                    </div>
                                    <div class="col-sm-2" ng-if="sresult.newResults != 0" >
                                        <span class="label label-danger" id="notific{{ sresult._id}}">{{ sresult.newResults }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 colpadding">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/#/matchme/" class="form-horizontal" method="get"  name="signupForm" ng-submit="searching()">
                        <div class="form-group" style="margin-bottom:2px">
                            <div class="col-sm-12">
                                <input class="form-control"  type="text"  ng-model="query"  autocomplete
                                                placeholder="Search anything in Weber" ng-keyup="getSuggestions()"  autofocus  required/>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <a href="/#/matchme/{{ query }}"   style="margin-top:10px" class="btn btn-normal btn-md btn-block" >
                                    Search Weber
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="margin-top:0px;margin-bottom:15px;">
                                <i class="fa fa-user" style="opacity:0.60"></i>&nbsp;
                                <strong>
                                    Matched People
                                </strong>
                                 with you..
                                <span class="pull-right">
                                    Total {{ matchmeresults.total_matches }}
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="jumbotron" style="padding:0px" ng-repeat="rs in matchmeresults.mresults">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default" style="margin:0px">
                                    <div class="panel-heading media" style="background-color:;">
                                        <a class="pull-left" style="padding: 5px;" href="">
                                            <img style="width:40px" class="media-object img-circle"
                                                 src="{{ rs.author.picture.medium }}" alt="">
                                        </a>
                                        <span>
                                            <strong>
                                                <a href="/#/profile/{{ rs.author._id}}" style="color:#333">
                                                    {{ rs.author.name.first }}
                                                </a>
                                            </strong> Matched with you.
                                            <br>
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>
                                                <span am-time-ago="post._created">{{ rs._updated }}</span>
                                            </small>

                                            <a  class="btn btn-sm btn-default pull-right" name="{{rs.author._id}}"
                                             matchmechatdiv>
                                                Chat
                                            </a>

                                        </span>
                                        <br>
                                    </div>
                                    <div class="panel-body">
                                        <strong>
                                            Keywords:
                                        </strong>
                                         {{ rs.content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="margin-top:0px;margin-bottom:15px;">
                                <i class="fa fa-user" style="opacity:0.60"></i>&nbsp;
                                <strong>
                                    Persons in weber
                                </strong>
                                 with you..
                                <span class="pull-right">
                                    Total {{ matchmeresults.totalNames }}
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="jumbotron" style="padding:0px" ng-repeat="name in matchmeresults.searchNames">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default" style="margin:0px">
                                    <div class="media panel-heading" style="background-color:;">
                                        <a class="pull-left" style="padding: 5px;" href="">
                                            <img style="width:40px" class="media-object img-circle"
                                                 src="{{ name.picture.medium }}" alt="">
                                        </a>
                                        <span>
                                            <strong>
                                                <a href="" style="color:#333">
                                                    {{ name.name.first }} {{ name.name.last }}
                                                </a>
                                            </strong>
                                            <br>
                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>
                                                <span am-time-ago="post._created">{{ rs._updated }}</span>
                                            </small>

                                            <a href="" class="btn btn-sm btn-default pull-right">
                                                Chat
                                            </a>
                                        </span>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div   chatbar></div>