<!--<style>
    .cropArea {
      background: #E4E4E4;
      margin: auto;
      overflow: hidden;
    }
    .cropArea.big {
      width:800px;
      height:600px;
    }
    .cropArea.medium {
      width:500px;
      height:350px;
    }
    .cropArea.small {
      width:300px;
      height:200px;
    }
</style>

<div class="container">
  <form ng-show="enableCrop=true">
    <label for="fileInput">Select Image:</label>
    <input type="file" id="fileInput" />
  </form>
  <div>
    <label>Image URL: <input type="text" ng-model="edtImageURI" /></label>
    <button ng-click="imageDataURI=edtImageURI">Set Image</button>
  </div>
  <div>
    <button ng-click="imageDataURI=''">Reset Image</button>
  </div>

  <div ng-if="enableCrop" class="cropArea" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
    <img-crop image="imageDataURI"
              result-image="$parent.resImageDataURI"
              change-on-fly="changeOnFly"
              area-type="{{type}}"
              area-min-size="selMinSize"
              result-image-format="{{resImgFormat}}"
              result-image-quality="resImgQuality"
              result-image-size="resImgSize"
              on-change="onChange($dataURI)"
              on-load-begin="onLoadBegin()"
              on-load-done="onLoadDone()"
              on-load-error="onLoadError()"
    ></img-crop>

  </div>

  <div style="text-align:center">
    <h3>Result</h3>
    <div>
      <img ng-src="{{resImageDataURI}}" />
    </div>
  </div>
</div>-->


<div navbar></div>
<div class="container">
    <div class="col-sm-4 colpadding">
        <div class="panel panel-default" style="opacity:0.90">
            <div class="media panel-heading" style="background-color:#fff">
                <h5 style="margin-top:10px;margin-bottom:4px;">
                    <strong>
                        Basic Account Settings
                    </strong>
                </h5>
            </div>
            <div class="panel-body">
                <label style="opacity:0.70;margin-left:2px">
                    Username
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row username_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.username }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" class="pull-right edit_name btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row name_edit_section" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Your public username is the same as your Storyboard address:
                            </h6>
                            <h6 style="opacity:0.80">
                                For example:&nbsp;
                                <a href="">
                                    <strong>
                                        www.theweber.in/suryamuppalla
                                    </strong>
                                </a>
                            </h6>
                            <span>
                                <div class="row">
                                    <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                        <h6>Username:</h6>
                                    </div>
                                    <div class="col-sm-8 colpadding">
                                        <input type="text" ng-model="u_username" placeholder="{{ user.username }}"
                                           class="form-control input-sm" />
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="updateUsername()" class="btn btn-xs edit_name btn-success">
                                            Update
                                        </button>
                                    </div>
                                    <div class="col-sm-2 colpadding">
                                        <button class="btn btn-xs btn-default">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Edit First name and Last name
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row first_last_name_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.name.first }} {{ user.name.last }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px;"
                                    class="pull-right edit_first_last_name btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="first_last_name_edit_section">
                        <div class="row " style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right" >First name</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control" placeholder="enter first name"
                                        ng-model = edit_first_name />
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right">Last name</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control" placeholder="enter last name"
                                        ng-model = edit_last_name />
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-sm-offset-4 col-sm-5 colpadding">
                                <button ng-click="updateFirstLastName()" class="btn edit_first_last_name btn-xs btn-success">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <label style="opacity:0.70;margin-left:2px">
                    Password
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row password_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">Password updated a month ago</h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" class="pull-right edit_password btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row password_edit_section" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Your Password is very confidential, Please Follow the rules while updating the password:
                            </h6>
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Old password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" placeholder="old password"
                                               class="form-control input-sm" ng-model="old_password" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>New password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="password" id="pw1" name="pw1" class="form-control input-sm" placeholder="enter new password"
                                                   ng-model="pw1" ng-required="" ng-minlength="8" ng-maxlength="20" />
                                            <span ng-show="myForm.pw1.$error.required && myForm.pw1.$dirty"
                                                  style="color:red;font-size:11px;">
                                                required
                                            </span>
                                            <span ng-show="!myForm.pw1.$error.required && (myForm.pw1.$error.minlength || myForm.pw1.$error.maxlength) && myForm.pw1.$dirty"
                                                  style="color:red;font-size:11px;">
                                                Passwords must be between 8 and 20 characters.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Re-enter new password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="password" id="pw2" name="pw2"  class="form-control input-sm" placeholder="Re-enter new password"
                                                   ng-model="pw2" ng-required="" pw-check="pw1" />
                                            <div class="msg-block" ng-show="myForm.$error">
                                                <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch" style="color:red;font-size:11px;">
                                                    Passwords don't match.
                                                </span>
                                            </div>
                                            <span ng-show="myForm.pw2.$error.required && myForm.pw2.$dirty" style="color:red">
                                                Please confirm your password.
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="updatePassword()" class="btn edit_password btn-xs btn-success">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Email
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row username_section">
                        <div class="col-sm-12">
                            <h5>
                                <a style="text-decoration:none;color:#333;cursor: no-drop;opacity:0.60;">
                                    <strong>
                                        suryamuppalla@gmail.com
                                    </strong>
                                </a>
                            </h5>
                            <h6 style="opacity:0.60">
                                Your email can't be changed, because this is unique.
                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 colpadding">
        <div class="panel panel-default" style="opacity:0.90">
            <div class="media panel-heading" style="background-color:#fff">
                <h5 style="margin-top:10px">
                    <strong>
                        Account
                    </strong>
                </h5>
                <h5>
                    Change your basic account, language and location settings
                </h5>
            </div>
            <div class="panel-body">
                <label style="opacity:0.70;margin-left:2px">
                    Profile Picture
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumbnail" style="margin-bottom:0px;">
                                <img src="{{ user.picture.large }}">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <a class="change_picture" style="cursor:pointer;">
                                Change Profile Picture
                            </a>
                            <div class="row picture_edit_section" style="margin-top:5px;">
                                <div class="col-sm-12">
                                    <span>
                                        <h6 style="opacity:0.70">
                                            <strong>
                                                Note:&nbsp;
                                            </strong>
                                            Image should be less than 700px, Should be JPEG, PNG, GIF.
                                        </h6>
                                    </span>
                                    <span>
                                        <input type="file" file-model="myFile" class="btn btn-sm btn-default" />
                                    </span>
                                    <span>
                                        <input style="margin-top:5px" ng-click="uploadFile()"
                                               type="submit" value="Update" class="btn btn-xs btn-success" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Interests
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row interests_section">
                        <div class="col-sm-9">
                            <h5 ng-if="!user.interests">
                                Add interests
                            </h5>
                            <h5 style="opacity:0.90">
                                <a style="color:#333;" ng-repeat="interest in user.interests">
                                    {{ interest }}
                                </a>
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px;"
                                    class="pull-right edit_interests btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="interests_edit_section">
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right">Add Interests</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control"
                                       placeholder="Cricket, Chess, Carroms etc.." ng-model = interests />
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-sm-offset-4 col-sm-5 colpadding">
                                <button ng-click="updateInterests()" class="btn edit_interests btn-xs btn-success">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    My Location
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                        <div class="row location_section">
                            <div class="col-sm-9">
                                <h5 style="opacity:0.90">
                                    {{ user.location.state }}, {{ user.location.city }}, {{ user.location.street }}
                                </h5>
                            </div>
                            <div class="col-sm-3">
                                <button style="margin-top:7px" class="pull-right edit_location btn btn-xs btn-primary">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="row location_edit_section" style="margin-top:5px;">
                            <div class="col-sm-12">
                                <h6 style="opacity:0.60">
                                    Enter Exact location to provide more benefits to your search
                                </h6>
                                <span>
                                    <form name="myForm">
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Enter State:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" placeholder="Enter State" ng-model="location_state"
                                                   class="form-control input-sm" required />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Enter City:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" name="pw1" class="form-control input-sm" placeholder="enter city"
                                                       ng-model="location_city" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Enter Street:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" class="form-control input-sm" placeholder="Enter Street"
                                                       ng-model="location_street" required />
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <span>
                                    <div class="row" style="margin-top:5px;">
                                        <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                            <button ng-click="updatechangelocation()" class="btn edit_location btn-xs btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                </div>


                <label style="opacity:0.70;margin-left:2px">
                    Studies
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                        <div class="row study_section">
                            <div class="col-sm-9">
                                <h5 ng-if="user.study.intermediate == ''">
                                    Add Study Here
                                </h5>
                                <h5 style="opacity:0.90">
                                    {{ user.study.intermediate }}, {{ user.study.graduate }}
                                </h5>
                            </div>
                            <div class="col-sm-3">
                                <button style="margin-top:7px" class="pull-right edit_study btn btn-xs btn-primary">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="row study_edit_section" style="margin-top:5px;">
                            <div class="col-sm-12">
                                <h6 style="opacity:0.60">
                                    Enter your study
                                </h6>
                                <span>
                                    <form name="myForm">
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Enter Intermediate:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" name="pw1" class="form-control input-sm" placeholder="enter Intermediate"
                                                       ng-model="study_intermediate" required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Enter Graduation:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" class="form-control input-sm" placeholder="Enter Graduation"
                                                       ng-model="study_graduate" required />
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <span>
                                    <div class="row" style="margin-top:5px;">
                                        <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                            <button ng-click="updatechangestudy()" class="btn edit_study btn-xs btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Phone Number
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                        <div class="row phone_section">
                            <div class="col-sm-9">
                                <h5 style="opacity:0.90">
                                    {{ user.phone }}
                                </h5>
                            </div>
                            <div class="col-sm-3">
                                <button style="margin-top:7px" class="pull-right edit_phone btn btn-xs btn-primary">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="row phone_edit_section" style="margin-top:5px;">
                            <div class="col-sm-12">
                                <h6 style="opacity:0.60">
                                    Enter your Phone Number
                                </h6>
                                <span>
                                    <form name="myForm">
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Phone:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" class="form-control input-sm" placeholder="Enter Phone Number"
                                                       ng-model="phone_number" required />
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <span>
                                    <div class="row" style="margin-top:2px;">
                                        <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                            <button ng-click="updatechangephone()" class="btn edit_phone btn-xs btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Movies
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                        <div class="row movies_section">
                            <div class="col-sm-9">
                                <h5 style="opacity:0.90">
                                    <a style="color:#333;" ng-repeat="movie in user.movies">
                                        {{ movie }}
                                    </a>
                                </h5>
                            </div>
                            <div class="col-sm-3">
                                <button style="margin-top:7px" class="pull-right edit_movies btn btn-xs btn-primary">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="row movies_edit_section" style="margin-top:5px;">
                            <div class="col-sm-12">
                                <h6 style="opacity:0.60">
                                    Enter Movies List
                                </h6>
                                <span>
                                    <form name="myForm">
                                        <div class="row">
                                            <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                                <h6>Movies:</h6>
                                            </div>
                                            <div class="col-sm-8 colpadding">
                                                <input type="text" class="form-control input-sm" placeholder="Enter Movies"
                                                       ng-model="movies" required />
                                            </div>
                                        </div>
                                    </form>
                                </span>
                                <span>
                                    <div class="row" style="margin-top:2px;">
                                        <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                            <button ng-click="updatechangemovies()" class="btn edit_movies btn-xs btn-success">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                </div>




            </div>
        </div>
    </div>
</div>
<div chatbar></div>


<style>
    .username_section .edit_name{
        display:none;
    }
    .username_section:hover .edit_name{
        display:block;
    }
    .name_edit_section{
        display:none;
    }
    .password_section .edit_password{
        display:none;
    }
    .password_section:hover .edit_password{
        display:block;
    }
    .password_edit_section{
        display:none;
    }
    .picture_edit_section{
        display:none;
    }
    .first_last_name_section .edit_first_last_name{
        display:none;
    }
    .first_last_name_section:hover .edit_first_last_name{
        display:block;
    }
    .first_last_name_edit_section{
        display:none;
    }
    .interests_section .edit_interests{
        display:none;
    }
    .interests_section:hover .edit_interests{
        display:block;
    }
    .interests_edit_section{
        display:none;
    }
    .location_section .edit_location{
        display:none;
    }
    .location_section:hover .edit_location{
        display:block;
    }
    .location_edit_section{
        display:none;
    }
    .study_section .edit_study{
        display:none;
    }
    .study_section:hover .edit_study{
        display:block;
    }
    .study_edit_section{
        display:none;
    }
    .phone_section .edit_phone{
        display:none;
    }
    .phone_section:hover .edit_phone{
        display:block;
    }
    .phone_edit_section{
        display:none;
    }
    .movies_section .edit_movies{
        display:none;
    }
    .movies_section:hover .edit_movies{
        display:block;
    }
    .movies_edit_section{
        display:none;
    }
</style>

<script>
    // jQuery
    $(document).ready(
    function(){
        $(".edit_name").click(function () {
            if($('.name_edit_section').is(':visible')){
               $('.name_edit_section').fadeOut('fast');
            }
            else{
               $('.name_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".change_picture").click(function () {
            if($('.picture_edit_section').is(':visible')){
               $('.picture_edit_section').fadeOut('fast');
            }
            else{
               $('.picture_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_first_last_name").click(function () {
            if($('.first_last_name_edit_section').is(':visible')){
               $('.first_last_name_edit_section').fadeOut('fast');
            }
            else{
               $('.first_last_name_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_interests").click(function () {
            if($('.interests_edit_section').is(':visible')){
               $('.interests_edit_section').fadeOut('fast');
            }
            else{
               $('.interests_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_location").click(function () {
            if($('.location_edit_section').is(':visible')){
               $('.location_edit_section').fadeOut('fast');
            }
            else{
               $('.location_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_study").click(function () {
            if($('.study_edit_section').is(':visible')){
               $('.study_edit_section').fadeOut('fast');
            }
            else{
               $('.study_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_phone").click(function () {
            if($('.phone_edit_section').is(':visible')){
               $('.phone_edit_section').fadeOut('fast');
            }
            else{
               $('.phone_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_movies").click(function () {
            if($('.movies_edit_section').is(':visible')){
               $('.movies_edit_section').fadeOut('fast');
            }
            else{
               $('.movies_edit_section').fadeIn('slow');
            }
        });
    });
    $(document).ready(
    function(){
        $(".edit_password").click(function () {
            if($('.password_edit_section').is(':visible')){
               $('.password_edit_section').fadeOut('fast');
            }
            else{
               $('.password_edit_section').fadeIn('slow');
            }
        });
    });
</script>