<div class="container" style="min-height:1000px;">
    <div class="col-sm-4 colpadding">
        <div class="panel panel-default" style="opacity:0.90">
            <div class="media panel-heading" style="background-color:#fff">
                <h5 style="margin-top:10px;margin-bottom:4px;">
                    <strong>
                        Basic Account Settings
                    </strong>
                </h5>
            </div>
            <div class="panel-body">
                <label style="opacity:0.70;margin-left:2px">
                    Username
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row username_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.username }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="username_section = !username_section" style="margin-top:7px" class="pull-right edit_name btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div ng-show="username_section" class="row" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Your public username is the same as your Storyboard address:
                            </h6>
                            <h6 style="opacity:0.80">
                                For example:&nbsp;
                                <a style="text-decoration:none;color:#333;">
                                    <strong>
                                        www.weber.ooo/{{user.username }}
                                    </strong>
                                </a>
                            </h6>
                            <span>
                                <div class="row">
                                    <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                        <h6>Username:</h6>
                                    </div>
                                    <div class="col-sm-8 colpadding">
                                        <input type="text" ng-model="u_username" placeholder="{{ user.username }}"
                                           class="form-control input-sm" />
                                    </div>
                                </div>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="username_section = !username_section;updateUsername()" class="btn btn-xs edit_name btn-success">
                                            Update
                                        </button>
                                    </div>
                                    <div class="col-sm-2 colpadding">
                                        <button ng-click="username_section = !username_section" class="btn btn-xs btn-default">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    First name and Last name
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row first_last_name_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.name.first }} {{ user.name.last }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="show_first_last_name = !show_first_last_name" style="margin-top:7px;"
                                    class="pull-right edit_first_last_name btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="" ng-show="show_first_last_name">
                        <div class="row " style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right" >First name</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control" placeholder="enter first name"
                                        ng-model = edit_first_name />
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right">Last name</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control" placeholder="enter last name"
                                        ng-model = edit_last_name />
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-sm-offset-4 col-sm-5 colpadding">
                                <button ng-click="show_first_last_name = !show_first_last_name;updateFirstLastName()" class="btn edit_first_last_name btn-xs btn-success">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Password
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row password_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">Password updated a month ago</h5>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="show_password = !show_password" style="margin-top:7px" class="pull-right edit_password btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="show_password" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Your Password is very confidential, Please Follow the rules while updating the password:
                            </h6>
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Old password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" placeholder="old password"
                                               class="form-control input-sm" ng-model="old_password" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>New password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="password" id="pw1" name="pw1" class="form-control input-sm" placeholder="enter new password"
                                                   ng-model="pw1" ng-required="" ng-minlength="8" ng-maxlength="20" />
                                            <span ng-show="myForm.pw1.$error.required && myForm.pw1.$dirty"
                                                  style="color:red;font-size:11px;">
                                                required
                                            </span>
                                            <span ng-show="!myForm.pw1.$error.required && (myForm.pw1.$error.minlength || myForm.pw1.$error.maxlength) && myForm.pw1.$dirty"
                                                  style="color:red;font-size:11px;">
                                                Passwords must be between 8 and 20 characters.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Re-enter new password:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="password" id="pw2" name="pw2"  class="form-control input-sm" placeholder="Re-enter new password"
                                                   ng-model="pw2" ng-required="" pw-check="pw1" />
                                            <div class="msg-block" ng-show="myForm.$error">
                                                <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch" style="color:red;font-size:11px;">
                                                    Passwords don't match.
                                                </span>
                                            </div>
                                            <span ng-show="myForm.pw2.$error.required && myForm.pw2.$dirty" style="color:red">
                                                Please confirm your password.
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="show_password = !show_password;updatePassword()" class="btn edit_password btn-xs btn-success">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Email
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row username_section">
                        <div class="col-sm-12">
                            <h5>
                                <a style="text-decoration:none;color:#333;cursor: no-drop;opacity:0.60;">
                                    <strong>
                                        {{ user.email }}
                                    </strong>
                                </a>
                            </h5>
                            <h6 style="opacity:0.60">
                                Your email can't be changed, because this is unique.
                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 colpadding">
        <div class="panel panel-default" style="opacity:0.90">
            <div class="media panel-heading" style="background-color:#fff">
                <h5 style="margin-top:10px">
                    <strong>
                        Account
                    </strong>
                </h5>
                <h5>
                    Change your basic account, language and location settings
                </h5>
            </div>
            <div class="panel-body">
                <label style="opacity:0.70;margin-left:2px">
                    Profile Picture
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumbnail" style="margin-bottom:0px;">
                                <img ng-src="{{ user.picture.large }}">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <a ng-click="show_profile_picture = !show_profile_picture" class="change_picture" style="cursor:pointer;">
                                Change Profile Picture
                            </a>
                            <div class="row" ng-show="show_profile_picture" style="margin-top:5px;">
                                <div class="col-sm-12">
                                    <span>
                                        <h6 style="opacity:0.70">
                                            <strong>
                                                Note:&nbsp;
                                            </strong>
                                            Image should be less than 700px, Should be JPEG, PNG, GIF.
                                        </h6>
                                    </span>
                                    <span>
                                        <!--<input type="file" file-model="myFile" class="btn btn-sm btn-default" />-->
                                        <form ng-show="enableCrop=true">
                                            <label for="fileInput">Select Image:</label>
                                            <input type="file" id="fileInput" />
                                        </form>

                                          <div ng-if="enableCrop" class="cropArea" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
                                            <img-crop image="imageDataURI"
                                                      result-image="$parent.resImageDataURI"
                                                      change-on-fly="changeOnFly"
                                                      area-type="{{type}}"
                                                      area-min-size="selMinSize"
                                                      result-image-format="{{resImgFormat}}"
                                                      result-image-quality="resImgQuality"
                                                      result-image-size="resImgSize"
                                                      on-change="onChange($dataURI)"
                                                      on-load-begin="onLoadBegin()"
                                                      on-load-done="onLoadDone()"
                                                      on-load-error="onLoadError()"
                                            ></img-crop>
                                                      <!--aspect-ratio="aspectRatio"-->
                                          </div>
                                    </span>
                                    <span>
                                        <input style="margin-top:5px" ng-click="show_profile_picture = !show_profile_picture;uploadFile()"
                                               type="submit" value="Update" class="btn btn-xs btn-success" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Interests
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row interests_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                <a style="color:#333;" ng-repeat="interest in user.interests">
                                    {{ interest }}
                                </a>
                            </h5>
                            <h5 style="opacity:0.90;" ng-if="!(user.interests.length)">
                                Please add some interests here
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px;" ng-click="show_interests = !show_interests"
                                    class="pull-right edit_interests btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="" ng-show="show_interests">
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-sm-4 colpadding">
                                <h6 class="pull-right">Add Interests</h6>
                            </div>
                            <div class="col-sm-8 colpadding">
                                <input type="text" class="input-sm form-control"
                                       placeholder="Cricket, Chess, Carroms etc.." ng-model = interests />
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="col-sm-offset-4 col-sm-5 colpadding">
                                <button ng-click="show_interests = !show_interests;updateInterests()" class="btn edit_interests btn-xs btn-success">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    My Location
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row location_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.location.state }}, {{ user.location.city }}, {{ user.location.street }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" ng-click="show_location = !show_location" class="pull-right edit_location btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="show_location" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Enter Exact location to provide more benefits to your search
                            </h6>
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Enter State:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" placeholder="Enter State" ng-model="location_state"
                                               class="form-control input-sm" required />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Enter City:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" name="pw1" class="form-control input-sm" placeholder="enter city"
                                                   ng-model="location_city" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Enter Street:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" class="form-control input-sm" placeholder="Enter Street"
                                                   ng-model="location_street" required />
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="show_location = !show_location;updatechangelocation()" class="btn edit_location btn-xs btn-success">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>


                <label style="opacity:0.70;margin-left:2px">
                    Studies
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row study_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.study.intermediate }}, {{ user.study.graduate }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" ng-click="show_studies = !show_studies" class="pull-right edit_study btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="show_studies" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Intermediate:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" name="pw1" class="form-control input-sm" placeholder="enter Intermediate"
                                                   ng-model="study_intermediate" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Graduation:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" class="form-control input-sm" placeholder="Enter Graduation"
                                                   ng-model="study_graduate" required />
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="show_studies = !show_studies;updatechangestudy()" class="btn edit_study btn-xs btn-success">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Phone Number
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row phone_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                {{ user.phone }}
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" ng-click="show_phone_number = !show_phone_number" class="pull-right edit_phone btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="show_phone_number" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Enter your Phone Number
                            </h6>
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Phone:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" class="form-control input-sm" placeholder="Enter Phone Number"
                                                   ng-model="phone_number" required />
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:2px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="show_phone_number = !show_phone_number;updatechangephone()" class="btn edit_phone btn-xs btn-success">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <label style="opacity:0.70;margin-left:2px">
                    Movies
                </label>
                <div class="jumbotron" style="padding:15px;margin-bottom:10px;">
                    <div class="row movies_section">
                        <div class="col-sm-9">
                            <h5 style="opacity:0.90">
                                <a style="color:#333;" ng-repeat="movie in user.movies">
                                    {{ movie }}
                                </a>
                            </h5>
                        </div>
                        <div class="col-sm-3">
                            <button style="margin-top:7px" ng-click="show_movies = !show_movies" class="pull-right edit_movies btn btn-xs btn-primary">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="show_movies" style="margin-top:5px;">
                        <div class="col-sm-12">
                            <h6 style="opacity:0.60">
                                Enter Movies List
                            </h6>
                            <span>
                                <form name="myForm">
                                    <div class="row">
                                        <div class="col-sm-3 colpadding text-right col-sm-offset-1">
                                            <h6>Movies:</h6>
                                        </div>
                                        <div class="col-sm-8 colpadding">
                                            <input type="text" class="form-control input-sm" placeholder="Enter Movies"
                                                   ng-model="movies" required />
                                        </div>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <div class="row" style="margin-top:2px;">
                                    <div class="col-sm-offset-4 colpadding col-sm-2 ">
                                        <button ng-click="show_movies = !show_movies;updatechangemovies()" class="btn edit_movies btn-xs btn-success">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>