<nav class="navbar navbar-default" style="background-color: #fff !important;border-color:#fff !important;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""
             style="font-size:40px;font-family: 'Open sans',Arial,sans-serif;">
              <h2 style="font-family: 'Open sans',Arial,sans-serif;font-weight:400;margin-top:0px;">
                  <img src="http://www.websoc.in/images/logo.png">
                  <span style="margin-left: -7px;color:#444;">eber</span>
              </h2>
          </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a href="/#/login" style="color:#444;">
                  Login
              </a>
          </li>
          <li>
              <a href="/#/signup" style="color:#444;">
                  Signup
              </a>
          </li>
          <li>
              <a href="/#/about" style="color:#444;">
                  About
              </a>
          </li>
      </ul>
    </div><!-- /.nav bar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="col-sm-6">
        <div class="row" style="padding-top:20px;">
            <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:300;">
                Wonder what <strong style="opacity:0.70;">weber</strong> can do
            </h3>
            <h3 style="font-family: 'Open sans',Arial,sans-serif;font-weight:300;">
                Search for people you are interested in
            </h3>
        </div>
        <div class="row" style="padding-top:30px;">
            <form class="col-sm-12" style="padding:0px;" role="search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control"
                           placeholder="Search anything in weber" />
                    <i class="glyphicon glyphicon-search form-control-feedback"
                       style=""></i>
                </div>
            </form>
        </div>
        <div class="row" style="padding-top:50px;">
            <div class="panel panel-body" style="border:1px solid #dcdcdc;">
                <div class="media">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                      <img class="media-object" style="width:50px;border-radius:4px;" src="http://api.randomuser.me/portraits/med/women/59.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Vegesina Satyanarayana</strong>
                        <span class="pull-right">
                            <a href="" style="font-size:14px;">
                                Chat
                            </a>
                        </span>
                    </h5>
                    <p style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;">
                        Wonder what weber can do Search for people you are interested in
                    </p>
                  </div>
                </div>
            </div>
            <div class="panel panel-body" style="border:1px solid #dcdcdc;">
                <div class="media">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                      <img class="media-object" style="width:50px;border-radius:4px;"
                           src="http://api.randomuser.me/portraits/med/men/59.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>Surya Muppalla</strong>
                        <span class="pull-right">
                            <a href="" style="font-size:14px;">
                                Chat
                            </a>
                        </span>
                    </h5>
                    <p style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;">
                        Wonder what weber can do Search for people you are interested in
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 colpadding col-sm-offset-2" style="padding-top:50px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel" style="border:1px solid #dcdcdc;">
                    <div class="panel-body" style="margin-bottom:5px;border-bottom:1px solid #dcdcdc;">
                        <h5 style="margin:0px 0px;">What you can search in <strong>weber</strong></h5>
                    </div>
                    <div class="panel-body messages-scroll" style="padding:0px;border:0px solid #F7F7F5;">
                        <div class="list-group" style="margin-bottom:20px;">
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/men/49.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Surya Muppalla</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/women/59.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Vegesina Satyanarayana</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/men/29.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Ashok Raj Bathu</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>

                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/women/69.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Vegesina Satyanarayana</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/men/19.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Ashok Raj Bathu</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/women/79.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Vegesina Satyanarayana</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>
                            <a href="" class="list-group-item" style="padding:3px;border:0px solid #dcdcdc;">
                                <div class="media" style="border-bottom:1px solid #F7F7F7;">
                                  <div class="media-left">

                                      <img class="media-object pull-left" style="margin-right: 7px;width:35px;border-radius:4px;"
                                           src="http://api.randomuser.me/portraits/med/men/89.jpg" alt="...">

                                  </div>
                                  <div class="media-body">
                                    <h6 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                                        <strong style="color:#888;">Ashok Raj Bathu</strong>
                                    </h6>
                                    <p style="font-size:12px;font-family: 'Open sans',Arial,sans-serif;padding-top:2px;">
                                        Wonder what weber can do Search for people you are interested in
                                    </p>
                                  </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<style>
    body{
        padding-top:25px !important;
        background-color:#fff;
    }
    .add-on .input-group-btn > .btn {
      border-left-color:#fff;left:-2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    /* stop the glowing blue shadow */
    .form-control:focus {
     box-shadow:none;
     -webkit-box-shadow:none;
     border-color:#cccccc;
    }
    .form-control{
        border-top:5px solid #ee9a4d;
        height:50px;
    }
    .form-control-feedback {
        position: absolute;
        top: 7px;
        right: 0;
        z-index: 2;
        display: block;
        width: 40px;
        height: 37px;
        line-height: 34px;
        text-align: center;
        font-size: 20px;
        opacity:0.70;
    }
</style>