<div class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="padding:15px;">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/search" style="color:#333;font-size:30px;">
                <img style="width:37px;" src="https://pbs.twimg.com/profile_images/2451242971/WinchPharma_Group_W_logo_bigger.png">
                weber
            </a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="form" ng-submit="login()" name="myForm">
                            <div class="form-group" style="height:50px;">
                                <input type="email"
                                   class="form-control input-sm"
                                   name="email" ng-model="login_email"
                                   placeholder="Enter Email" required/>
                            </div>
                            <div class="form-group" style="height:50px;">
                                <input type="password" class="form-control input-sm"
                                   placeholder="Enter Password"
                                   name="password" ng-model="login_password" required  /><br>
                                <span class="pull-right">
                                    <a href="/#/" style="font-size:12px;">
                                        Forgot Password?
                                    </a>
                                </span>
                            </div>
                            <div class="form-group" style="height:50px;">
                                <button type="submit" ng-disabled="!myForm.$valid"
                                        class="btn btn-info btn-sm" ng-click="submitLogin()">
                                    Sign in
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </center>
    </div>
</div>


<!--<div ng-if="isAuthenticated()" ></div>-->
<div class="container" style="min-height:2000px">
    <div class="col-sm-6">
        <div class="row" style="padding-top:80px;" ng-if="!(isAuthenticated())">
            <h2 style="color:#000;font-family: 'Open sans',Arial,sans-serif;font-weight:400;">
                Wonder what weber can do
            </h2>
            <h2 style="color:#000;font-family: 'Open sans',Arial,sans-serif;font-weight:400;">
                Search for people you are interested in..
            </h2>
        </div>
        <div class="row" ng-if="isAuthenticated()" style="padding:50px;">

        </div>
        <div class="row" style="padding-top:30px;">
            <!--<form class="col-sm-12" style="padding:0px;" role="search">-->
                <div class="form-group has-feedback">
                    <input type="text" class="form-control form-control1" ng-model="query" focus="true"
                           placeholder="Search anything in weber" ng-keyup="$event.keyCode == 13 && perfomSearch()"/>
                    <i class="glyphicon glyphicon-search form-control-feedback"
                       style=""></i>
                </div>
            <!--</form>-->
        </div>
        <div class="row"  ng-show="showNoResults">
            <div class="col-sm-12" style="padding:0px;">
                <div class="panel panel-body" style="">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail" style="border:0px solid #dcdcdc;">
                                <img src="https://pbs.twimg.com/profile_images/419852181869576193/yxaX7JJy_400x400.jpeg">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 style="padding-top:20px;">No results found</h4>
                            <h4>Try Banana</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:50px;" infinite-scroll='matchResults.nextPage()'
                                     infinite-scroll-disabled='matchResults.busy'
                                     infinite-scroll-distance='0'
                                     infinite-scroll-parent="true">

            <div class="panel panel-body" style="border:1px solid #dcdcdc;" ng-repeat="rs in matchResults.mresults" >
                <div class="media">
                  <div class="media-left">
                    <a href="#" class="pull-left" style="padding: 0px 7px;" href="">
                      <img class="media-object" style="width:50px;border-radius:4px;" src="{{rs.author.picture.medium}}" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading" style="font-family: 'Open sans',Arial,sans-serif;">
                        <strong>{{rs.author.name.first}}</strong>
                        <span class="pull-right">
                            <!-- if post from you -->
                            <a style="font-size:14px;" name="{{rs.author._id}}"
                               ng-if="isAuthenticated() && user._id == rs.author._id" >
                                post from you
                            </a>
                            <!-- if post not from you and you logged in-->
                            <a matchpersonroom style="font-size:14px;" name="{{rs.author._id}}"
                               ng-if="isAuthenticated() && user._id != rs.author._id"
                               ng-click="openchatroom('{{ rs.author._id }}');addToConversations('{{ rs.author._id}}')">
                               chat
                            </a>
                            <!-- if not logged in -->
                            <span ng-if="!(isAuthenticated())" style="font-size:14px;"
                                name="{{rs.author._id}}" class="chat_not_login">
                                <a style="cursor:pointer;">Chat</a>
                                <div class="chat_hover_div">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-body login_bubble">
                                                <h5>
                                                    Please Login to Chat<br><br>
                                                    <a href="/#/login"> Login</a>
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>


                        </span>
                    </h5>
                    <p class="display-text" ng-class="myVar"
                       style="font-family: 'Open sans',Arial,sans-serif;padding-top:4px;margin-bottom:0px;">
                        {{ rs.content }}
                    </p>
                    <seefulltextdirective>
                        <p class="" ng-click="myVar='my-class';hide_text()">
                              <a style="font-size:12px;cursor:pointer;color:#666;">
                                  See full text
                              </a>
                        </p>
                    </seefulltextdirective>
                  </div>
                </div>


            </div>
            <!--<div ng-show='matchResults.busy'>Loading data...</div>
			<div ng-show='matchResults.end'>You Reached the end!</div>-->
        </div>
    </div>

    <!--col-sm-4 starts-->
        <div class="col-sm-4 pull-right" style="padding-top:70px;">
    		<div class="panel panel-default" style="border:0px solid #dcdcdc;">
			  	<div class="panel-body">
                    <h2 style="font-family: Raleway, Helvetica, Arial, sans-serif;font-weight:;">
                        Give Banana to weber
                    </h2>
                    <h4 style="font-family: Raleway, Helvetica, Arial, sans-serif;">
                        Your details are confidential</h4><br>
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control input-md" style="background-color:#fdfdfd;"
                                   placeholder="Your valid email address" name="r_email" type="text">
			    		</div>
			    		<div class="form-group">
			    			<div class="row">
                                <div class="col-sm-6" style="padding-right:2px;">
                                    <input class="form-control input-md"
                                        placeholder="First Name" name="r_email" type="text">
                                </div>
                                <div class="col-sm-6" style="padding-left:2px;">
                                    <input class="form-control input-md"
                                        placeholder="Last Name" name="r_email" type="text">
                                </div>
			    			</div>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control input-md"
                                   placeholder="Password(at least 6 Characters )" name="password" type="password" value="">
			    		</div>
			    		<input class="btn btn-md btn-success btn-block"
                               type="submit" value="Join with weber">
			    	</fieldset>
			      	</form>
                      <hr/>
                    <center><h4>OR</h4></center>
                    <input class="btn btn-md btn-danger btn-block"
                           type="submit" value="Signup via Google">
			    </div>
			</div>
		</div>

    <!-- end of col-sm-4-->
</div>



<style ng-if="!(isAuthenticated())">
    body{
        padding-top:25px !important;
        background-color:#fff;
    }


</style>