<div navbar></div>
<div class="container" >
	<div class="col-md-3 colpadding" wb-affix="150">
		<div class="thumbnail">
			<img class="img-rounded" style="width: 100%;" src="{{profileuser.picture.medium}}">
			<div class="caption text-center">
				<h3 style="text-transform: capitalize;">{{profileuser.name.first}} {{profileuser.name.last}}</h3>
				@{{profileuser.username}}
					<br>

				<img src="{{ loadingimage }}" alt="">
				{{ loadingimage}}
                <div ng-switch on="check_relation()">

                    <div ng-switch-when="unfriend">

						<unaddfriend>
                        	<button ng-click="friendunfriend('{{ profileuser._id }}')" class="btn btn-primary">unfriend</button>
						</unaddfriend>

                    </div>

                    <div ng-switch-when="cancelrequest">
                        <addfriend>
							<button ng-click="frndcancelrequest('{{ profileuser._id }}')" class="btn btn-primary">cancel request</button>
						</addfriend>
                    </div>


                    <div ng-switch-when="reject_accept">
						<acceptreject>
                        	<button ng-click="acceptrequest('{{profileuser._id}}','profileview')" class="btn btn-primary">accept request</button>

							<button ng-click="rejectrequest('{{profileuser._id}}','profileview')" class="btn btn-primary">reject request</button>
						</acceptreject>
                    </div>

                    <div ng-switch-when="addfriend">

                        <cancelrequest>
                            <button  ng-click="frndaddrequest('{{ profileuser._id }}')" class="btn btn-primary">Add Friend</button>
                        </cancelrequest>

                    </div>

                    <div class="animate-switch" ng-switch-default></div>
                </div>

			</div>
		</div>
        <div class="panel panel-default">
			<div class="panel-heading">
				<h5 style="margin:1px 0px 1px 0px">
					About
					<a href="" class="pull-right">
						<h6 style="margin-top:0px">
							See all
						</h6>
					</a>
				</h5>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80" class="about-edit">
							<i class="glyphicon glyphicon-check" style="opacity:0.65"></i>&nbsp;
							Iam interested in:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" ng-repeat="interest in friend.interests" style="line-height:1.2em;color:">

									{{ interest }},&nbsp;

							</a>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80">
							<i class="glyphicon glyphicon-folder-open" style="opacity:0.65"></i>&nbsp;
							Studied at:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" style="line-height:1.2em;color:">

									{{ friend.study.graduate }}

							</a>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h5 style="margin-bottom:5px;margin-top:0px;opacity:0.80">
							<i class="glyphicon glyphicon-home" style="opacity:0.65"></i>&nbsp;
							Lives in:
						</h5>
						<h6 style="margin-top:1px">
							<a href="" style="line-height:1.2em;color:">
								{{ friend.location.state }},
							</a>
                            <a href="" style="line-height:1.2em;color:">
                                 {{ friend.location.city }},
                            </a>
                             <a href="" style="line-height:1.2em;color:">
                                  {{ friend.location.street }}
                            </a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading">Friends({{profileuser.friends.length}})</div>

			<a ng-repeat="friend in friends | limitTo : 8" href="#/profile/{{friend._id}}">
				<img data-placement="top-right" style="width:65px" data-content="{{friend.location.city}}, {{friend.location.state}}"
						 title="{{friend.name.first}} {{friend.name.last}}"
						 data-trigger="hover" bs-popover src="{{friend.picture.thumbnail}}">
			</a>
		</div>
	</div>
	<div class="col-md-6 colpadding" style="min-height:2000px">
		<div infinite-scroll='infinitePosts.nextPage()' infinite-scroll-disabled='infinitePosts.busy'
			 infinite-scroll-distance='1'>
			<div class="media panel panel-default" ng-repeat="post in infinitePosts.posts">
				<div class="panel-heading" style="background-color:#fff;border-bottom:1px solid #F2F2F2;">
					<a class="pull-left" style="padding: 5px;" href="#/profile/{{UserService.get(post.author)._id}}">
						<img style="width:35px" class="media-object img-circle"
							 src="{{UserService.get(post.author).picture.thumbnail}}" alt="">
					</a>
					<strong>
						{{UserService.get(post.author).name.first}} {{UserService.get(post.author).name.last}}
					</strong>
					wrote on his story.
					<br>
					<small class="text-muted"><span class="glyphicon glyphicon-time"></span>
						<span am-time-ago="post._created"></span></small>
					<br>
				</div>
				<p class="panel-body">{{post.content}}</p>
			</div>
			<div ng-show='infinitePosts.busy'>Loading data...</div>
			<div ng-show='infinitePosts.end'>You Reached the end!</div>
		</div>
	</div>
</div>

<div chatbar></div>