.side_chat{
    position: fixed;
    top: 50px;
    right:0px;
    width:270px;
    padding-right: 0px !important;
}

.chat_divs{
    width:280px;

    margin-left:10px;
    position: fixed;
    bottom: 0px;
}


/*===============================================*/
/* css for the scrollbar activities */
.messages-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height:;
}
.messages-scroll:hover {
    overflow-y: scroll;
    overflow-x: hidden;
    height:;
}

/* Let's get this party started */
.messages-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.messages-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.messages-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.messages-scroll::-webkit-scrollbar-thumb:window-inactive {
	background: #dcdcdc;
}

/*=================================================*/

/*chat left arrow css ges here*/


.chat_box {
	position: relative;
	background: #fff;
	border: 4px solid #fff;
	padding:10px;
}
.chat_box:after, .chat_box:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.chat_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 7px;
	margin-top: -7px;
}
.chat_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 13px;
	margin-top: -13px;
}


/*end of left arrow chat css*/


/* Styles go here */

.heightClass{
  height:100px;
  overflow :auto;
}


.right_arrow_box {
	position: relative;
	background: #DCDCDC;
	border: 1px solid #DCDCDC;
	border-radius:0%;
}
.right_arrow_box:after, .right_arrow_box:before {
	left: 100%;
	top: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.right_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #dcdcdc;
	border-width: 7px;
	margin-top: -7px;
}
.right_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #dcdcdc;
	border-width: 8px;
	margin-top: -8px;
}


.left_arrow_box {
	position: relative;
	background: #88b7d5;
	border: 1px solid #c2e1f5;
}
.left_arrow_box:after, .left_arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.left_arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 7px;
	margin-top: -7px;
}
.left_arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 7px;
	margin-top: -7px;
}