body {
	background-color: #f2f2f2;
	padding-top: 70px;
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}
.in { display:none; }

#screen-overlay {
	background: rgba(255, 255, 255, 0.53);

	transition: .15s ease-out background-color;
	-moz-transition: .15s ease-out background-color;
	-webkit-transition: .15s ease-out background-color;
	-o-transition: .15s ease-out background-color;
	height:100%;
    width:100%;
    position:absolute;
    z-index:41;
    /*-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4)*/
}

.highlighted{
		
	color: red;
}

.alert {
	z-index: 1;
	position:absolute;
	top:0px;
	right:10px;
}

.password-strength-indicator {
	position: absolute;
	right: 0;
	top: 10px;
	width: 5px;
	padding: 0 15px;
}

.password-strength-indicator span {
	display: block;
	height: 5px;
	margin-bottom: 2px;
	width: 5px;
	border-radius: 5px;
	background: #ebeef1;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: white;
	background-color: rgb(77, 87, 100);
}

.navbar-inverse {
	background-color: #424a55;
	border: 0;
	height: 50px;
}

.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .btn-link {
	color: #fff;
}

#nav-search {
	border: 0;
	border-radius: 0;
	border: 1px solid #ccc;
}

.colpadding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.colpadding1 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.list-group-border{
	border-radius:0px !important;
}

.profile {
	width: 100%;
	float: left;
	padding: 15px 10px;
	position: relative;
	background: #2d3945;
}

.profile .profile-image {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	text-align: center;
}

.profile .profile-image img {
	width: 100px;
	border: 3px solid #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.profile .profile-data {
	width: 100%;
	float: left;
	text-align: center;
}

.profile .profile-data .profile-data-name {
	width: 100%;
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: #FFF;
}

.profile .profile-data .profile-data-title {
	width: 100%;
	float: left;
	font-size: 11px;
	font-weight: 400;
	color: #999;
}

.nav-search-resuts {
	list-style: none;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #ccc;
	padding-left: 0px;
}

.nav-search-resuts li {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
	background: white;
}

.nav-search-resuts li img {
	width: 60px;
	height: 60px;
	float: left;
	border: none;
}

.nav-search-resuts li p {
	margin-left: 75px;
	font-weight: bold;
	padding-top: 12px;
	color: #6e7a7f;
}

/* Chat Interface */
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.panel-default {
	border-top: 0; 
}



/*input type file css here*/
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
/*input type file css ends here*/

/*=======Profile Pic Section css Starts Here=======*/
.itemsContainer {
    background:;
    float:;
    width:100%;
    position:relative;
}
.itemsContainer:hover .play{display:block}
.play{
  position : absolute;
    display:none;
    bottom: 0%;
    width:100%;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100;
}

.tool{
    border:none !important;

}
.tool:hover{
    background:none;
    color:#888;
}

.showlogo{
    display:block;
}
.hidelogo{
    display:none !important;
}

.right-inner-addon {
    position: relative;
    padding-top:5px;
}
.right-inner-addon input {
    padding-right: 30px;

}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 7px 12px;
    pointer-events: none;
}




.box-shadowpanel{

    -webkit-box-shadow: 3px 2px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 12px -1px rgba(0,0,0,0.75);
    border
}



.message_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #ffffff;

	-webkit-box-shadow: 3px 6px 16px -6px rgba(28, 50, 50, 0.72);
	-moz-box-shadow:    3px 6px 16px -6px rgba(28, 50, 50, 0.72);
	box-shadow:         3px 6px 16px -6px rgba(28, 50, 50, 0.72);
}
.message_box:after, .message_box:before {
	bottom: 100%;
	right:1%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.message_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
.message_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 13px;
	margin-left: -13px;
}







.arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #ffffff;

	-webkit-box-shadow: 3px 6px 16px -6px rgba(28, 50, 50, 0.72);
	-moz-box-shadow:    3px 6px 16px -6px rgba(28, 50, 50, 0.72);
	box-shadow:         3px 6px 16px -6px rgba(28, 50, 50, 0.72);
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	right:1%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
	margin-left: -7px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 13px;
	margin-left: -13px;
}

.search_a{
    cursor:pointer;
    border:none;
    border-bottom:1px solid #dcdcdc !important;
    border-top-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
    border-bottom-right-radius:0px !important;
}